<%= form_with(model: @planning_period, local: true) do |form| %>
  <% if @planning_period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planning_period.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @planning_period.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :month %>
    <%= form.month_field :month %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
