<section class="grid-container">
  <div class="shift-pattern">
    <% @planning_period.shift_patterns.each do |pattern|%>
      <div class="pattern">
        <p>Start Time: <%= pattern.shift_start%></p>
        <p>Length: <%= pattern.shift_length%></p>
        <p>Requirements: <%= pattern.requirements%></p>
      </div>
    <% end %>
    <div class="pattern"><%= render partial: 'new_pattern' %></div>
  </div>
  <div class="shifts">
    <%= month_calendar do |date| %>
      <%= date %>
    <% end %>
  </div>
</section>