<section class="grid-container">
  <div class="planning-header"><h3>Planning Period: <%= @planning_period.month %></h3></div>
  <div class="date-header">
    <div class="row-grid">
      <%= render partial: 'new_date_header' %>
    </div>
  </div>
  <div class="shift-pattern">
    <% @planning_period.shift_patterns.each do |pattern|%>
      <div class="pattern">
        <p>Start Time: <%= pattern.shift_start%></p>
        <p>Length: <%= pattern.shift_length%></p>
        <p>Requirements: <%= pattern.requirements%></p>
      </div>
    <% end %>
    <div class="pattern"><%= render partial: 'new_pattern' %></div>
  </div>
  <div class="shifts">
    <div class="row-grid"><%= render partial: 'new_shifts' %></div>  
  </div>
</section>